<div class="wysiwyg-wrapper">
	<div class="wysiwyg-toolbar wysiwyg-toolbar-top clickClass">
		<div class="firstToolbar">
			<a class =" wysiwyg-toolbar-icon">
				<select class="text-dropdown" name="textSizes">
					<option class="text-dropdown-menu" value="giant">Giant</option>
					<option class="text-dropdown-menu" value="header" >Header</option>
					<option class="text-dropdown-menu" value="large">Large</option>
					<option class="text-dropdown-menu" value="medium">Medium</option>
					<option class="text-dropdown-menu" value="small">Small</option>
				</select>
			</a>
			<a class="wysiwyg-toolbar-icon icon-bold" name="bold" href="#" title="Bold (Ctrl+B)" hotkey="b"></a>
			<a class="wysiwyg-toolbar-icon icon-italic" name="italic" href="#" title="Italic (Ctrl+I)" hotkey="i"></a>
			<a class="wysiwyg-toolbar-icon icon-underline" name="underline" href="#" title="Underline (Ctrl+U)" hotkey="u"></a>
			<a class="wysiwyg-toolbar-icon icon-undo" name="undo" href="#" title="Undo (Ctrl+Z)" hotkey="z"></a>
			<a class="wysiwyg-toolbar-icon icon-redo" name="redo" href="#" title="Redo (Ctrl+Y)" hotkey="y"></a>
		</div>
		<div class="secondToolbar">
			<a class="wysiwyg-toolbar-icon icon-left" name="alignLeft" href="#" title="Left"></a>
			<a class="wysiwyg-toolbar-icon icon-center" name="alignCenter" href="#" title="Center"></a>
			<a class="wysiwyg-toolbar-icon icon-right" name="alignRight" href="#" title="Right"></a>
			<a class="wysiwyg-toolbar-icon icon-justify" name="alignJustify" href="#" title="Justify"></a>
			<a class="wysiwyg-toolbar-icon icon-indent" name="indent" href="#" title="Indent"></a>
			<a class="wysiwyg-toolbar-icon icon-outdent" name="outdent" href="#" title="Outdent"></a>
		</div>
	</div>
	<div contenteditable="true" class = "textbox-editor" name="editor" placeholder="Type your text here..." >
    </div> 
   
</div>